.none {
  display: none;
}

h1, h2 {
  font-family: "Lora", serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  cursor: pointer;
}

.desktop {
  display: auto;
}

.mobile {
  display: none;
}

.btn_primary {
  background-color: #0451C4;
  width: 200px;
  min-height: 48px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.btn_primary--inactive {
  background-color: #F0F5FB;
  color: #0451C4;
}
.btn_primary:hover {
  opacity: 0.8;
}
.btn_secondary {
  padding: 12px 16.5px;
  border: 2px solid #0451C4;
  color: #0451C4;
  width: 200px;
  min-height: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background: none;
  cursor: pointer;
  transition: all 0.02s ease-in;
}
.btn_secondary:hover {
  background-color: #0451C4;
  color: white;
}
.btn_text {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #0451C4;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

.jc--c {
  justify-content: center;
}

.text--56 {
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
}
.text--48 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
}
.text--32 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}
.text--24 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}
.text--20 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}
.text--18 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.text--16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.text--14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.text--12 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.header {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  display: flex;
  justify-content: center;
}
.header__container {
  max-width: 1112px;
  height: 100%;
  flex: 1;
  margin-inline: 16px;
}
.header__container__top {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.header__logo {
  width: 157px;
  gap: 8px;
  display: flex;
  align-items: center;
}
.header__logo__vector {
  height: 48px;
  width: 48px;
  background-image: url("/assets/swarmin-logo.jpg");
  background-size: cover;
}
.header__logo__p {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
  flex: 1;
}
.header__controls {
  display: flex;
  gap: 32px;
}
.header__controls__select {
  border: none;
}
.header__controls__icons {
  width: 24px;
  border: none;
  background: none;
  cursor: pointer;
}

nav {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
nav li {
  cursor: pointer;
}

.banner {
  min-height: 496px;
  display: flex;
  justify-content: center;
  background-image: url("/assets/Banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  background-color: lightseagreen;
}
.banner__container {
  padding-top: 72px;
  padding-bottom: 160px;
  margin-inline: 16px;
  color: white;
  max-width: 1112px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.banner h2 {
  margin-bottom: 32px;
}
.banner p {
  max-width: 690px;
  margin-bottom: 40px;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.content {
  gap: 167px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.container {
  max-width: 1112px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}
.container__row {
  display: flex;
  gap: 30px;
}
.container__row__div {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 50%;
}
.container__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.scroll {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.scroll__container {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  padding: 4px 0px;
  gap: 30px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll__container::-webkit-scrollbar {
  display: none;
}
.scroll__nav {
  display: flex;
  justify-content: space-between;
}
.scroll__indicator {
  display: flex;
  align-items: center;
  gap: 8px;
}
.scroll__li {
  height: 3px;
  width: 40px;
  background-color: #F0F5FB;
}
.scroll__li--active {
  background-color: #0451C4;
}
.scroll__btndiv {
  display: flex;
  gap: 32px;
}
.scroll__btn {
  height: 56px;
  width: 56px;
}

.scrollcard {
  scroll-snap-align: center;
  height: 100%;
  width: 350px;
}
.scrollcard img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 262px;
  width: 100%;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 32px;
}

.contributor {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contributor__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.contributor__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contributor__card img {
  border-radius: 60px;
  height: 120px;
  width: 120px;
}
.contributor__btn {
  display: flex;
  justify-content: flex-end;
}

.widget {
  width: 100%;
  background-image: url("/assets/widget-background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
.widget__container {
  max-width: 1112px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.widget__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.widget button {
  min-width: 200px;
  max-height: 48px;
}

.bulletincard {
  scroll-snap-align: center;
  height: 100%;
  width: 350px;
  padding: 24px;
  box-shadow: 0px 2px 8px rgba(0, 10, 24, 0.0784313725);
}
.bulletincard__icon {
  font-size: 24px;
  width: 64px;
  height: 64px;
  margin-bottom: 16px;
}
.bulletincard h3 {
  margin-bottom: 8px;
}
.bulletincard p {
  margin-bottom: 24px;
}

.tabcard {
  height: 100%;
  width: 33.3333333333%;
  box-shadow: 0px 2px 8px rgba(0, 10, 24, 0.0784313725);
}
.tabcard__container {
  display: flex;
  gap: 30px;
}
.tabcard__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tabcard__img {
  min-height: 262px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 20px;
  line-height: 32px;
}
.tabcard__div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}

.profile {
  display: flex;
  gap: 6px;
}
.profile img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.profile p {
  color: #80848B;
}

.facts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}
.facts__background {
  background-color: #FAFAFA;
  padding: 56px 32px;
}
.facts__opening {
  height: 35px;
  margin-bottom: 13px;
}
.facts__fadein {
  -webkit-animation: fadein 4s forwards ease-in;
          animation: fadein 4s forwards ease-in;
}
.facts__fadeout {
  -webkit-animation: fadeout 4s forwards ease-out;
          animation: fadeout 4s forwards ease-out;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tag {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 6px 24px;
  border-radius: 28px;
  width: auto;
  color: black;
  background: #F5F5F6;
  border: none;
}
.tag--active {
  font-weight: 700;
  background-color: #0451C4;
  color: white;
}
.tag__container {
  display: flex;
  gap: 32px;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tag__container::-webkit-scrollbar {
  display: none;
}
.tag__sec {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 6px 24px;
  border-radius: 28px;
  background-color: #FAFAFA;
  border: 1px solid #D1D3D5;
}
.tag__sec--active {
  font-weight: 700;
  background-color: #F0F5FB;
  border: 1px solid #0451C4;
  color: #0451C4;
}

.tab {
  padding: 15px 0px;
}
.tab--active {
  border-bottom: 3px solid #0451C4;
}
.tab__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tab__div {
  display: flex;
  gap: 48px;
  border-bottom: 1px solid #D1D3D5;
}

.footer__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #546DF5;
  padding-inline: 16px;
  color: white;
}
.footer__banner {
  position: relative;
  background-color: #546DF5;
}
.footer__banner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 400px;
  -o-object-position: bottom;
     object-position: bottom;
}
.footer__grid {
  margin-top: 100px;
  max-width: 1112px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 144px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.54);
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 22px;
  list-style: none;
}
.footer ul h4 {
  font-weight: 700;
}
.footer__input {
  height: 40px;
  padding: 16px 10px;
  border: none;
  background: white;
}
.footer__input::-moz-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer__input:-ms-input-placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer__input::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer__input:focus {
  outline: none;
}
.footer__btn {
  width: 100%;
}
.footer__bottom {
  text-align: center;
  height: 68px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.54);
}

.event {
  position: relative;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  padding: 120px 16px 80px 16px;
}
.event__background {
  position: absolute;
  width: 700px;
  height: 700px;
  top: 0;
  right: 50%;
  background-color: #FEDC2A;
}
.event__heading {
  position: absolute;
  top: -40px;
}
.event__container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: white;
  max-width: 1112px;
  width: 100%;
  padding: 75px 40px 64px 40px;
}
.event__middle {
  display: flex;
  justify-content: space-between;
  color: #525862;
  font-weight: 700;
  align-items: center;
}
.event__bottom {
  display: flex;
  gap: 30px;
}
.event__bottom__right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}
.event__card {
  width: 100%;
  display: flex;
  box-shadow: 0px 2px 8px rgba(0, 10, 24, 0.0784313725);
}
.event__card__img {
  height: 100%;
  width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}
.event__card__right {
  position: relative;
  width: 220px;
}
.event__card__datediv {
  top: 0;
  left: 0;
  padding: 10px 19px;
  background-color: rgba(0, 10, 24, 0.56);
  position: absolute;
  color: white;
}
.event__card__datediv p {
  line-height: normal;
}
.event__card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 16px 24px;
}
.event__card h3 {
  font-weight: 700;
}
.event__card__div {
  display: flex;
  gap: 8px;
}
.event__card__div p {
  display: flex;
  align-items: center;
}
.event__card__btndiv {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.event__card__btndiv button {
  display: none;
  width: 50%;
  height: 32px;
}

.calender {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 8px;
  box-shadow: 0px 2px 8px rgba(0, 10, 24, 0.0784313725);
}
.calender__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.calender__btn {
  height: 42px;
  background: none;
  border: none;
}
.calender__heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.calender__table__row {
  height: 42px;
}
.calender__table__day {
  width: 42px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #80848B;
  text-align: center;
}
.calender__table__date {
  width: 42px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.calender__table__date--active {
  background-color: #0451C4;
  color: white;
  border-radius: 21px;
}
.calender__mobilebtn {
  gap: 8px;
  padding: 6px 14px;
  border-radius: 20px;
  background: none;
  border: 1px solid #B8BABE;
  cursor: pointer;
}
.calender__mobilebtn__day {
  font-weight: 700;
}
.calender__mobilebtn__arrow {
  color: #0451C4;
}

@media (max-width: 1112px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: inherit;
  }
  .mobile--cr {
    flex-direction: column-reverse;
  }
  .mobile--c {
    flex-direction: column;
  }
  .mobile--r {
    flex-direction: row;
  }
  .text--56 {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
  }
  .text--48 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }
  .text--32 {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
  }
  .text--24 {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }
  .text--20 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
  .text--18 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .text--14 {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }
  .header__container__top {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .header__logo__vector {
    height: 32px;
    width: 32px;
  }
  .header__logo p {
    font-weight: 700;
  }
  .header__controls {
    gap: 20px;
  }
  .banner__container {
    padding-top: 40px;
  }
  .content {
    padding-top: 48px;
    padding-bottom: 48px;
    gap: 96px;
  }
  .container {
    gap: 32px;
  }
  .container__row {
    gap: 32px;
  }
  .container__row__div {
    width: 100%;
    gap: 32px;
  }
  .container__img {
    align-self: center;
    width: 100%;
    max-width: 500px;
  }
  .scroll__container {
    gap: 16px;
  }
  .scrollcard {
    width: 242px;
    scroll-snap-align: none;
  }
  .scrollcard img {
    min-height: 181px;
  }
  .contributor {
    max-width: 500px;
    align-self: center;
    gap: 16px;
  }
  .contributor__card {
    gap: 12px;
  }
  .contributor__card img {
    border-radius: 36px;
    height: 72px;
    width: 72px;
  }
  .widget {
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .widget__content {
    align-items: flex-start;
    gap: 32px;
  }
  .widget button {
    min-width: 200px;
    max-height: 48px;
  }
  .bulletincard {
    scroll-snap-align: none;
    width: 242px;
    padding: 16px;
  }
  .tabcard {
    width: 100%;
    max-width: 500px;
  }
  .tabcard__container {
    align-items: center;
    gap: 24px;
  }
  .facts__background {
    background-color: transparent;
    padding: 0;
  }
  .facts__opening {
    height: 20px;
    margin-bottom: 8px;
  }
  .tag {
    padding: 8px 16px;
    border-radius: 28px;
  }
  .tag__container {
    gap: 16px;
  }
  .tag__sec {
    padding: 8px 16px;
    border-radius: 28px;
  }
  .tab__div {
    gap: 16px;
  }
  .footer {
    padding-bottom: 17px;
  }
  .footer__grid {
    gap: 60px;
    grid-template-columns: 1fr;
    padding-bottom: 80px;
    margin-top: 40px;
  }
  .footer__div {
    gap: 40px;
  }
  .event {
    display: flex;
    justify-content: center;
    padding: 48px 16px;
  }
  .event__heading {
    top: -16px;
  }
  .event__container {
    padding: 40px 16px;
  }
  .event__bottom {
    align-items: center;
    gap: 40px;
  }
  .event__bottom__right {
    gap: 24px;
  }
  .event__card {
    width: 100%;
    display: flex;
    box-shadow: 0px 2px 8px rgba(0, 10, 24, 0.0784313725);
  }
  .event__card__img {
    height: 156px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .event__card__right {
    position: relative;
    width: 100%;
  }
  .event__card__btndiv button {
    display: inline-block;
  }
}/*# sourceMappingURL=main.css.map */